NET "CLOCK"       LOC = "L16" |IOSTANDARD = LVTTL;
NET "CLOCKFTDI"   LOC = "T8"  |IOSTANDARD = LVTTL;

NET "RESET"			LOC = "U3" 		 |IOSTANDARD = LVTTL;

NET "ADC2DATA<0>" LOC = "M18"		 |IOSTANDARD = LVTTL;
NET "ADC2DATA<1>" LOC = "P18"		 |IOSTANDARD = LVTTL;
NET "ADC2DATA<2>" LOC = "N17"		 |IOSTANDARD = LVTTL;
NET "ADC2DATA<3>" LOC = "T18"		 |IOSTANDARD = LVTTL;
NET "ADC2DATA<4>" LOC = "P17"		 |IOSTANDARD = LVTTL;
NET "ADC2DATA<5>" LOC = "U18"		 |IOSTANDARD = LVTTL;
NET "ADC2DATA<6>" LOC = "T17"		 |IOSTANDARD = LVTTL;
NET "ADC2DATA<7>" LOC = "U17"		 |IOSTANDARD = LVTTL;

NET "ADC1DATA<0>" LOC = "D18"		 |IOSTANDARD = LVTTL;
NET "ADC1DATA<1>" LOC = "D17"		 |IOSTANDARD = LVTTL;
NET "ADC1DATA<2>" LOC = "F18"		 |IOSTANDARD = LVTTL;
NET "ADC1DATA<3>" LOC = "E18"		 |IOSTANDARD = LVTTL;
NET "ADC1DATA<4>" LOC = "G18"		 |IOSTANDARD = LVTTL;
NET "ADC1DATA<5>" LOC = "F17"		 |IOSTANDARD = LVTTL;
NET "ADC1DATA<6>" LOC = "J18"		 |IOSTANDARD = LVTTL;
NET "ADC1DATA<7>" LOC = "H18"		 |IOSTANDARD = LVTTL;

NET "ADC2PD" LOC = "G16"		 |IOSTANDARD = LVTTL;
NET "ADC1PD" LOC = "C18"		 |IOSTANDARD = LVTTL;

NET "ADC2RELATT" LOC = "E16"	 |IOSTANDARD = LVTTL;
NET "ADC1RELATT" LOC = "C17"	 |IOSTANDARD = LVTTL;
NET "ADC2RELCO"  LOC = "D1"	 |IOSTANDARD = LVTTL;
NET "ADC1RELCO"  LOC = "D2"	 |IOSTANDARD = LVTTL;

NET "LED0" LOC = "J16" |IOSTANDARD = LVTTL;
NET "LED1" LOC = "K16" |IOSTANDARD = LVTTL;

NET "LOGICANALYZER<0>" 	LOC = "P2"		 |IOSTANDARD = LVTTL;
NET "LOGICANALYZER<1>" 	LOC = "U1"		 |IOSTANDARD = LVTTL;
NET "LOGICANALYZER<2>" 	LOC = "P1"		 |IOSTANDARD = LVTTL;
NET "LOGICANALYZER<3>" 	LOC = "U2"		 |IOSTANDARD = LVTTL;
NET "LOGICANALYZER<4>" 	LOC = "N2"		 |IOSTANDARD = LVTTL;
NET "LOGICANALYZER<5>" 	LOC = "L2"		 |IOSTANDARD = LVTTL;
NET "LOGICANALYZER<6>" 	LOC = "N1"		 |IOSTANDARD = LVTTL;
NET "LOGICANALYZER<7>" 	LOC = "M1"		 |IOSTANDARD = LVTTL;
NET "LOGICANALYZER<8>" 	LOC = "L1"		 |IOSTANDARD = LVTTL;
NET "LOGICANALYZER<9>" 	LOC = "K1"		 |IOSTANDARD = LVTTL;
NET "LOGICANALYZER<10>" LOC = "J1"		 |IOSTANDARD = LVTTL;
NET "LOGICANALYZER<11>" LOC = "K2"		 |IOSTANDARD = LVTTL;
NET "LOGICANALYZER<12>" LOC = "H1"		 |IOSTANDARD = LVTTL;
NET "LOGICANALYZER<13>" LOC = "K3"		 |IOSTANDARD = LVTTL;
NET "LOGICANALYZER<14>" LOC = "H3"		 |IOSTANDARD = LVTTL;
NET "LOGICANALYZER<15>" LOC = "H2"		 |IOSTANDARD = LVTTL;

NET "LA1DIR" LOC = "G1"		 |IOSTANDARD = LVTTL;
NET "LA2DIR" LOC = "F2"		 |IOSTANDARD = LVTTL;
NET "LA1OE"  LOC = "L3"		 |IOSTANDARD = LVTTL;
NET "LA2OE"  LOC = "G3"		 |IOSTANDARD = LVTTL;

NET "SERIALOUT" LOC = "K17"		 |IOSTANDARD = LVTTL;
NET "LOAD" 		 LOC = "L18"		 |IOSTANDARD = LVTTL;
NET "LDAC" 		 LOC = "K18"		 |IOSTANDARD = LVTTL;
NET "CLKDACOUT" LOC = "N18"		 |IOSTANDARD = LVTTL;

NET "SCL"  LOC = "E1"		 |IOSTANDARD = LVTTL |PULLUP;
NET "SDA"  LOC = "F1"		 |IOSTANDARD = LVTTL |PULLUP;

NET "RXF"  LOC = "U8"		 |IOSTANDARD = LVTTL;
NET "OE"   LOC = "V5"		 |IOSTANDARD = LVTTL;
NET "TXE"  LOC = "V8"		 |IOSTANDARD = LVTTL;
NET "RD"   LOC = "U7"		 |IOSTANDARD = LVTTL;
NET "WR"   LOC = "V7"		 |IOSTANDARD = LVTTL;
NET "SIWU" LOC = "V6"		 |IOSTANDARD = LVTTL;

NET "ADBUS<0>" LOC = "V16"	 |IOSTANDARD = LVTTL;
NET "ADBUS<1>" LOC = "V15"	 |IOSTANDARD = LVTTL;
NET "ADBUS<2>" LOC = "V14"  |IOSTANDARD = LVTTL;
NET "ADBUS<3>" LOC = "V13"	 |IOSTANDARD = LVTTL;
NET "ADBUS<4>" LOC = "V12"	 |IOSTANDARD = LVTTL;
NET "ADBUS<5>" LOC = "V11"	 |IOSTANDARD = LVTTL;
NET "ADBUS<6>" LOC = "V10"	 |IOSTANDARD = LVTTL;
NET "ADBUS<7>" LOC = "V9"	 |IOSTANDARD = LVTTL;

CONFIG POST_CRC = Disable;
CONFIG POST_CRC_INIT_FLAG = Disable;
#Created by Constraints Editor (xc6slx25-csg324-3) - 2013/04/07
NET "clock" TNM_NET = clock;
TIMESPEC TS_clock = PERIOD "clock" 6.667 ns HIGH 50%;
NET "clockFtdi" TNM_NET = clockFtdi;
TIMESPEC TS_clockFtdi = PERIOD "clockFtdi" 16.667 ns HIGH 50%;

#TIG decimator_clock_divisor/decimationRatio;
